@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;400;500;600&display=swap');

body {
    display: flex;
    width: 100%;
}

.linked-in {
    background-image: url("/assets/linked1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 800px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    flex-direction: row;
    
}