body {
    background-color: #D7CEC7;
}

.row {

}

.first-box {
    float:left;
    width: 33.33%;
    height: 5vh;
    background-color: #c7c2bf;
    display: flex;
    justify-content: center;
}

.second-box {
    float:left;
    width: 33.33%;
    height: 5vh;
    background-color: #e3dedc;
    display: flex;
    justify-content: center;
}

.third-box {
    float:left;
    width: 33.33%;
    height: 5vh;
    background-color: #edeae8;
    display: flex;
    justify-content: center;
}