@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;400;500;600&display=swap');

.navbar {
    padding-top: 1.5%;
    padding-bottom: 2.5%;
    display: flex;
    justify-content: center;
    height: 3vh;
    min-width: 400;
    font-family: 'Poppins', sans-serif;
    /* background: rgb(86,86,86);
    background: linear-gradient(90deg, rgba(86,86,86,1) 0%, rgba(215,206,199,1) 0%, rgba(192,159,128,1) 100%); */

}

button {
    background-color: transparent;
    border: transparent;
    margin-left: 10%;
    font-weight: bold;
    display:inline-block;
    position: relative;
}

.first-button {
    margin-left: 0%;
}

button::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #76323F;
    transition: width 0.25s ease-in;
}

button:hover::before{
    width: 100%;
}

button:hover {
    color: #76323F;
}
