<div class="wrap-box">
    <div class="about-me">
        <h1 class="top-section"><span class="Hello">Hello</span><span class="World"><sub><i>World!</i></sub></span></h1>
        <br> <br>
        <p class="paragraph">Welcome to my portfolio webpage! I hope you find everything you need here! If you have any questions, please contact me via the <span><a href="/contact-me"><i><u>CONTACT ME</u></i></a></span> page! </p>
    </div>


</div>



<div class="bottom-three">
    <div class="row">
        <div class="first-box">
          <span><p> LinkedIn </p></span>
        </div>
    
    
        <div class="second-box">
          <p> GitHub </p>
        </div>
    
    
        <div class="third-box">
          <p> Something Else Here </p>
        </div>
      </div>
</div>